{%extends "navbar.html"%}

{%block content%}

<div class="flex-column flex-grow-1 overflow-auto d-flex">
  <section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black my-2" style="border-radius: 25px;">
            <div class="card-body p-md-5">

  
                  <h5 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Yorum Ekle</h5>
                  <div id="4" class="ratings2">
                    <div>
                    <i ><svg  xmlns="/static/star-orange.svg" height="1em" viewBox="0 0 576 512"><style></style><path  d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg></i>  
                    </div>
                    <div>
                    <i style="fill:#e4e4e4"><svg xmlns="/static/star-orange.svg" height="1em" viewBox="0 0 576 512"><style></style><path class="asdz"d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg></i>
                    </div>
                    <div>
                    <i style="fill:#e4e4e4"><svg xmlns="/static/star-orange.svg" height="1em" viewBox="0 0 576 512"><style></style><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg></i>
                    </div>



                    <div>
                      <i><svg xmlns="/static/star-orange.svg" height="1em" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/><circle cx="-50" cy="-50" r="30" style="fill:red" /><image x="10" y="20" width="80" height="80" href="staticstar-orange.svg"  style="fill:orange"/></svg></i>
                    </div>




                    
                    <div>
                      <i style="fill:#e4e4e4"><svg height="1em" viewBox="0 0 576 512"><style></style><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/><path d="M288 0c-12.2 .1-23.3 7-28.6 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3L288 439.8V0zM429.9 512c1.1 .1 2.1 .1 3.2 0h-3.2z" fill="orange"/></svg></i>
                  
                    </div>
                    <div>
                      <svg width="100" height="100">
                        <circle cx="50" cy="50" r="50" fill="grey" />
                        <path d="M0,50 a1,1 0 0,0 100,0" fill="orange" />
                      </svg>
                    </div>
                    <div>
                      <svg width="100" height="100">
                        
                        <path d="M0,50 a1,1 0 0,0 100,0" fill="orange" />
                      </svg>
                    </div>
                    <div>
                      <svg width="100" height="100">
                        <circle cx="50" cy="50" r="50" fill="grey" />
                    
                      </svg>
                    </div>
                    <div>
                    <i class="mb-0 px-0 py-0 my-0" style="">(12)</i>
                    </div>
                  </div> 
                  <form class="mx-1 mx-md-4" method="post" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Ürün Adı</label>
                        <input type="text" id="name"  onchange="onchng(this);validcontrol(this);" name="name" value="" class="form-control">
                        <div class="valid-feedback">
                          {{nameerr}}
                        </div>
                      </div>
                    </div>
  
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c">Ürün puanı</label>
                        <input type="text" id="name"  onchange="onchng(this);validcontrol(this);" name="price" class="form-control" value="">
                        <div class="valid-feedback">
                        {{priceerr}}
                        </div>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="form-label" for="form3Example3c">Yorum</label>
                          <textarea type="text" id="form3Example3c" onchange="validcontrol(this);" name="description" class="form-control" ></textarea>
                          <div class="valid-feedback">
                            {{descerr}}
                            </div>
                        </div>
                    </div>
                    
                    
                     
                      
                        <button type="submit" id="submitbtn" type="button" class="btn btn-warning btn-lg ms-2 float-right" hidden>Ürünü Ekle</button>
                      
                  </form>
  

              
                   
                  

                <div class="text-center">
                    <button id="sb" type="button" onclick="document.getElementById('submitbtn').click()" class="btn btn-warning btn-lg ms-2 mt-5 mt-lg-1">Yorum Ekle</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>

                        <script>

                          function onchng(elem){
                            if (elem.name=="name"){
                              document.getElementById("cardname").innerHTML=String(elem.value);
                            }                            
                            else if (elem.name=="price"){
                              document.getElementById("cardprice").innerHTML=String(elem.value)+" TL";
                            }
                            else if (elem.name=="photo"){
                              
                              document.getElementById("cardphoto").src=URL.createObjectURL(elem.files[0]);
                            }
                            else if (elem.name=="stock"){
                              if (parseInt(elem.value)<10){
                                
                                var elem2=document.getElementById("cardseller")
                                elem2.innerHTML="Tükenmek Üzere";
                                elem2.className="badge bg-danger ms-2";
                              }
                              
                            }
                          };
                            function validcontrol(elem){
                              if (elem.value==""){}
                            }
                            function imagechange(elem){
                                var files=elem.files;
     
                                // call them as such; files[0].size will get you the file size of the 0th file
                                if (files[0].size>3000000){
                                    alert("Dosya boyutu maximum 3 MB olabilir")
                                    elem.value=""
                                }
                                if (files.length>0){ 
                                    var idd= parseInt(elem.id.slice(-1))+1
                                    document.getElementById("prdimg"+String(idd-1)).src=URL.createObjectURL(files[0])
                                    if (idd!==6){
                                    document.getElementById("imgbt"+String(idd)).style=""
                                }
                                };
                            };
                            function btnfunc(elem){
                               

                                if(elem.getElementsByClassName("prdimg")[0].src.endsWith("gsetrw5y3147h.png")){
                                  document.getElementById('getFile'+elem.id.slice(-1)).click()
                                   
                                }
                                else{
                                  elem.childNodes[0].src="gsetrw5y3147h.png";
                                  document.getElementById('getFile'+elem.id.slice(-1)).value=''    
                                              
                                  elem.getElementsByClassName("prdimg")[0].src="/static/gsetrw5y3147h.png"
                                }
                            }
                        </script>

              
                      </div>

    {%endblock%}
