{%extends "navbar.html"%}
{%block content%}
<div class="container-xxl px-1">

  <div class="row row-cols-1 row-cols-xl-2">
    <div class="col-12 col-xl-2 px-2 ">
      <div class="p-0 sticky-top mt-3 mb-2 " id="filterbar">
      <div class="p-0 text-center bg-white accordion rounded-top-1 border border-1 mb-0" style="" id="stickybar" >
        <div class="py-0">
            <h2 class="accordion-header">
                <button class="accordion-button d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseprice" aria-expanded="true" aria-controls="collapseprice">
                Fiyat Filtrele
                </button>
            </h2>
            <div id="collapseprice" class="accordion-collapse collapse show" data-bs-parent="#stickybar">
                <div class="accordion-body p-4 pt-2">
                    <span class="fw-medium pt-1" style="font-weight:500 !important">Fiyat Filtrele</span>
                    <div class="row row-cols-2 text-center mt-2 mx-0" >
                        <div class="col">
                        <input type="text" class="form-control rounded-1" placeholder="Min.">
                        </div>
                        <div class="col">
                        <input type="text" class="form-control rounded-1" placeholder="Max.">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top py-0 ">
            <h2 class="accordion-header">
                <button class="accordion-button d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebrand" aria-expanded="true" aria-controls="collapsebrand">
                Marka Filtrele
                </button>
            </h2>
            <div id="collapsebrand" class="accordion-collapse collapse show" data-bs-parent="#stickybar">
                <div class="accordion-body p-4 pt-2">
                    <span class="fw-medium" style="font-weight:500 !important">Marka Filtrele</span>
                    <div class="text-start mt-2 py-1 border border-1 rounded-1 scroll2" style="height:200px;">
                        <ul class="list-group list-group-flush" >
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Lenovo
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Samsung
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Apple
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Msi
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Acer
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Monster
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Dell
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            HP
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Huawei
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top py-0 ">
            <h2 class="accordion-header">
                <button class="accordion-button d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecategory" aria-expanded="true" aria-controls="collapsecategory">
                Kategori Filtrele
                </button>
            </h2>
            <div id="collapsecategory" class="accordion-collapse collapse show" data-bs-parent="#stickybar">
                <div class="accordion-body p-4 pt-2">
                    <span class="fw-medium" style="font-weight:500 !important">Kategori Filtrele</span>
                    <div class="text-start mt-2 py-1 border border-1 rounded-1 scroll2" style="height:200px;">
                        <ul class="list-group list-group-flush" >
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Bilgisayar
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Beyaz Eşya
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Telefon
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Beyaz Eşya
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Mutfak Aletleri
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Yazıcı/Projeksiyon
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Ses Sistemleri
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top py-0 ">
            <h2 class="accordion-header">
                <button class="accordion-button d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsestar" aria-expanded="true" aria-controls="collapsestar">
                Ürün Puanı
                </button>
            </h2>
            <div id="collapsestar" class="accordion-collapse collapse show" data-bs-parent="#stickybar">
                <div class="accordion-body p-4 pt-2">
                    <span class="fw-medium" style="font-weight:500 !important">Ürün Puanı</span>
                    <div class="text-start mt-2 py-1 border border-1 rounded-1" style="">
                    <ul class="list-group list-group-flush" >
                        <li class="list-group-item p-1 ps-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                        <img height="13px" src = "/static/star-orange.svg"/>
                        &nbsp;2 Yıldız ve üzeri
                        </label>
                        </li>
                        <li class="list-group-item p-1 ps-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            <img height="13px" src = "/static/star-orange.svg"/>
                        &nbsp;3 yıldız ve üzeri
                        </label>
                        </li>
                        <li class="list-group-item p-1 ps-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">  
                            <img height="13px" src = "/static/star-orange.svg"/>
                        &nbsp;4 yıldız ve üzeri
                        </label>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top py-0 ">
            <h2 class="accordion-header">
                <button class="accordion-button d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseller" aria-expanded="true" aria-controls="collapseseller">
                Satıcı Filtrele
                </button>
            </h2>
            <div id="collapseseller" class="accordion-collapse collapse show" data-bs-parent="#stickybar">
                <div class="accordion-body p-4 pt-2">
                    <span class="fw-medium" style="font-weight:500 !important">Satıcı Filtrele</span>
                    <div class="text-start mt-2 py-1 border border-1 rounded-1 scroll2" style="height:200px;">
                        <ul class="list-group list-group-flush" >
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Rakun
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Boyleolur
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Denemesatici
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            pazaryeri
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Deneme satıcı 4
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Deneme satıcı 5
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Deneme satıcı 6
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Deneme satıcı 7
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Deneme satıcı 8
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

      </div>
      
      <div class="rounded-bottom-1 border border-top-0 p-2 mt-0" style="">
        <button class="btn btn-warning rounded-1 w-100"style="font-size:13px !important">Filtrele</button>
      </div>
      </div>
    </div>


  </div>
</div>
{%endblock%}
