{%extends "navbar.html"%}
{%block content%}

<div class="container rounded-1 shadow" id="productcontainer" style=" ">
    <div class="row row-cols-1 row-cols-lg-2 gap-5 gap-md-0 rounded-1 py-md-5">
        <div class="col-12 column-xl-5 p-1 p-md-4 pb-md-0">
            <div id="slidebar2" class="pb-0" style="">
                <img id="mainslide" class="rounded-1 w-100" src="/media/images/15.jpg" style="aspect-ratio:1/1" >
                
              
                    <div id="slides" class="d-flex p-1 rounded-0 gap-2 p-2 pdsld scroll2 mb-0" style="overflow-x:auto !important" >
                        <img class="rounded-1 active" src="/static/slide1.jpg" style="" onclick="slideclick(this)">
                        <img class="rounded-1" src="/static/slide2.jpg" style=""  onclick="slideclick(this)">
                        <img class="rounded-1" src="/static/slide1.jpg" style=""  onclick="slideclick(this)">
                        <img class="rounded-1 active" src="/static/slide1.jpg" style="" onclick="slideclick(this)">
                        <img class="rounded-1" src="/static/slide2.jpg" style=""  onclick="slideclick(this)">
                        <img class="rounded-1" src="/static/slide1.jpg" style=""  onclick="slideclick(this)">
                        <img class="rounded-1 active" src="/static/slide1.jpg" style="" onclick="slideclick(this)">
                        <img class="rounded-1" src="/static/slide2.jpg" style=""  onclick="slideclick(this)">
                        <img class="rounded-1" src="/static/slide1.jpg" style=""  onclick="slideclick(this)">

 
                    </div>
             
            </div>
            <hr class="mb-0 mt-1">
        </div>
        <div class="col-12 column-xl-7 pb-0" >
            <div class="mb-3 h-100">
                <div class="p-4 pb-0 mt-0 h-100 d-flex flex-column" id="productcontent">
                    <div class="text-center text-lg-start pb-4" id="contentname">
                        <span id="contentname" style="font-weight:500 !important">Lenovo IdeaPad 3 AMD Ryzen 7 5700U 8GB 512GB SSD Freedos 15.6" FHD Taşınabilir Bilgisayar<span>
                    </div>
                    <div class="mt-3 pb-3 d-flex justify-content-between">
                        
                        <div class="" id="contentprice">
                            <span id="pp-price" style="font-weight:700 !important">22.499,00 TL<span>
                        </div>
                        <div id="contentrating">
                            <label  class="text-body-secondary" style="f"><span class="align-middle" id="pp-revcount" style="ft">4,6&nbsp;&nbsp;</span>
                            <svg style="fill:#b6b6b6" id="str" height="1.2em" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                            <svg style="fill:#b6b6b6" id="str" height="1.2em" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                            <svg style="fill:#b6b6b6" id="str" height="1.2em" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                            <svg style="fill:#b6b6b6" id="str" height="1.2em" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                            <svg style="fill:#b6b6b6" id="str" height="1.2em" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
                            </label> 
                        </div>
                    </div>
                    <div class="mt-2 row">
                        <div class="col-12 col-md py-3" >
                            
                            <button id="addbtn" type="button" class="btn rounded-1 p-3 w-100" style="font-weight:400 !important" data-mdb-ripple-color="dark">Sepete Ekle</button>
                        </div>
                        <div class="col-md-auto rounded-1 py-3" >
                            <div class="alert alert-success text-center mb-0" style="" role="alert">
                                <span class="" style="font-size:13px !important;font-weight:600 !important;">Satıcı :</span>
                                <span class="" style="font-size:13px !important;font-weight:600 !important">&nbsp;<a href="#" class="alert-link">Pazarama</a>&nbsp; <span class="badge text-bg-success" style="font-size:11px !important;font-weight:400 !important">9.6</span></span>
                            </div>      
                        </div>    
                    </div>
                    <div class="mt-3 row text-center mb-auto">
                        <div class="col">
                            <div class="alert alert-thema p-2" role="alert" id="dsccrd">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M482.3 192c34.2 0 93.7 29 93.7 64c0 36-59.5 64-93.7 64l-116.6 0L265.2 495.9c-5.7 10-16.3 16.1-27.8 16.1l-56.2 0c-10.6 0-18.3-10.2-15.4-20.4l49-171.6L112 320 68.8 377.6c-3 4-7.8 6.4-12.8 6.4l-42 0c-7.8 0-14-6.3-14-14c0-1.3 .2-2.6 .5-3.9L32 256 .5 145.9c-.4-1.3-.5-2.6-.5-3.9c0-7.8 6.3-14 14-14l42 0c5 0 9.8 2.4 12.8 6.4L112 192l102.9 0-49-171.6C162.9 10.2 170.6 0 181.2 0l56.2 0c11.5 0 22.1 6.2 27.8 16.1L365.7 192l116.6 0z"/></svg>&nbsp;
                                <span class="" style="font-size:12px !important;font-weight:500 !important">ÜCRETSİZ KARGO</span> 
                            </div>

                        </div>
                        <div class="col">
                            <div class="alert alert-thema p-2" role="alert" id="dsccrd">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>&nbsp;
                                <span class="" style="font-size:12px !important;font-weight:500 !important">GÜVENİLİR SATICI</span> 
                            </div>
                        </div>
                        <div class="col">
                            <div class="alert alert-thema p-2" role="alert" id="dsccrd">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M374.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-320 320c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l320-320zM128 128A64 64 0 1 0 0 128a64 64 0 1 0 128 0zM384 384a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"/></svg>&nbsp;
                                <span class="" style="font-size:12px !important;font-weight:500 !important">TAKSİT İMKANI</span> 
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 d-none d-md-block mb-auto">
                        <span style="font-size:14px !important;font-weight:500 !important">Ürün Özellikleri</span>
                        <div id="pp-description" class="border rounded-2 p-1">
                            
                            <span>Acer Nitro 5 Intel i5-11400H Islemci<br>
                                Nvidia GeFORCE GTX 1650 4 GB Harici Ekran Karti<br>
                                15.6'' FHD 144HZ Ekran ESHELL Isletim sistemi<br>
                                Nvidia GeFORCE GTX 1650 4 GB Harici Ekran Karti<br>
                                Nvidia GeFORCE GTX 1650 4 GB Harici Ekran Karti Nvidia GeFORCE GTX <br>
                                15.6'' FHD 144HZ Ekran ESHELL Isletim sistemi<br>
                                Nvidia GeFORCE GTX 1650 4 GB Harici Ekran Karti<br>
                                15.6'' FHD 144HZ Ekran ESHELL Isletim sistemi<br>
                                
                            </span>
                        </div>
                    </div>
                    <div class="" style="">
                        <div class="row row-cols-2  row-cols-md-4 text-center mb-0 " style="">
                            <div class="col">
                                <div class="alert alert-light shadow-sm p-2 mb-0 mt-3" role="alert" id="dsc1crd">
                                    <span class="" style="font-size:11px !important;font-weight:500 !important">İşlemci</span><br>
                                    <span class="" style="font-size:13px !important;font-weight:600 !important">AMD RYZEN 5</span> 
                                </div>
                            </div>
                            <div class="col">
                                <div class="alert alert-light shadow-sm p-2 mb-0 mt-3" role="alert" id="dsccrd">
                                        <div style="">
                                        <span class="" style="font-size:11px !important;font-weight:500 !important">SSD</span><br>
                                        </div>
                                        <span class="" style="font-size:13px !important;font-weight:600 !important">512 GB</span> 
                                        
                                </div>
                            </div>
                            <div class="col">
                                <div class="alert alert-light shadow-sm p-2 mb-0 mt-3" role="alert" id="dsccrd">
                                    <span class="" style="font-size:11px !important;font-weight:500 !important">RAM</span><br>
                                    <span class="" style="font-size:13px !important;font-weight:600 !important">16 GB</span> 
                                </div>
                            </div>

                            <div class="col ">
                                <div class="alert alert-light shadow-sm p-2 mb-0 mt-3" role="alert" id="dsccrd">
                                    <span class="" style="font-size:11px !important;font-weight:500 !important">Ekran</span><br>
                                    <span class="" style="font-size:13px !important;font-weight:600 !important">144 HZ IPS</span> 
                                    
                                </div>
                            </div>
                            <div class="col">
                                <div class="alert alert-light shadow-sm p-2 mb-0 mt-3" role="alert" id="dsccrd">
                                    <span class="" style="font-size:11px !important;font-weight:500 !important">İşletim Sistemi</span><br>
                                    <span class="" style="font-size:13px !important;font-weight:600 !important">FREE DOS</span> 
                                </div>
                            </div>
                            <div class="col">
                                <div class="alert alert-light shadow-sm p-2 mb-0 mt-3" role="alert" id="dsccrd">
                                    <span class="" style="font-size:11px !important;font-weight:500 !important">Ekran Kartı</span><br>
                                    <span class="" style="font-size:13px !important;font-weight:600 !important">RTX 3050</span> 
                                </div>
                            </div>
                            <div class="col">
                                <div class="alert alert-light shadow-sm p-2 mb-0 mt-3" role="alert" id="dsccrd">
                                    <span class="" style="font-size:11px !important;font-weight:500 !important">İşletim Sistemi</span><br>
                                    <span class="" style="font-size:13px !important;font-weight:600 !important">FREE DOS</span> 
                                </div>
                            </div>
                            <div class="col">
                                <div class="alert alert-light shadow-sm p-2 mb-0 mt-3" role="alert" id="dsccrd">
                                    <span class="" style="font-size:11px !important;font-weight:500 !important">İşletim Sistemi</span><br>
                                    <span class="" style="font-size:13px !important;font-weight:600 !important">FREE DOS</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5 pb-5">
        <div class="row">
            <div class="col-2">
                <ul class="list-group gap-3">
                    <li class="list-group-item p-0 border-0">
                        <div class="alert alert-light shadow-sm p-2 mb-0 text-center p-3" role="alert" id="dsccrd">

                            <span class="" style="font-size:13px !important;font-weight:600 !important">Açıklama</span>
                        </div>
                    </li>
                    <li class="list-group-item p-0 border-0">
                        <div class="alert alert-light shadow-sm p-2 mb-0 text-center p-3" role="alert" id="dsccrd">

                            <span class="" style="font-size:13px !important;font-weight:600 !important">Ürün Yorumları</span>
                        </div>
                    </li>
                    <li class="list-group-item p-0 border-0">
                        <div class="alert alert-light shadow-sm p-2 mb-0 text-center p-3" role="alert" id="dsccrd">

                            <span class="" style="font-size:13px !important;font-weight:600 !important">Taksit Seçenekleri</span>
                        </div>
                    </li>
                    <li class="list-group-item p-0 border-0">
                        <div class="alert alert-light shadow-sm p-2 mb-0 text-center p-3" role="alert" id="dsccrd">

                            <span class="" style="font-size:13px !important;font-weight:600 !important">İade koşulları</span>
                        </div>
                    </li>
                    <li class="list-group-item p-0 border-0">
                        <div class="alert alert-light shadow-sm p-2 mb-0 text-center p-3" role="alert" id="dsccrd">

                            <span class="" style="font-size:13px !important;font-weight:600 !important">Diğer Satıcılar</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-10">
                <li class="list-group-item p-0 border-0 h-100">
                    <div class="alert alert-light shadow-sm p-2 mb-0 h-100 text-center" role="alert" id="dsccrd">
                        
                        <span style="font-weight:500">Acer Nitro 5 Intel i5-11400H Islemci<br>
                            Nvidia GeFORCE GTX 1650 4 GB Harici Ekran Karti<br>
                            15.6'' FHD 144HZ Ekran ESHELL Isletim sistemi<br>
                            Nvidia GeFORCE GTX 1650 4 GB Harici Ekran Karti<br>
                            Nvidia GeFORCE GTX 1650 4 GB Harici Ekran Karti Nvidia GeFORCE GTX <br>
                            15.6'' FHD 144HZ Ekran ESHELL Isletim sistemi<br>
                            Nvidia GeFORCE GTX 1650 4 GB Harici Ekran Karti<br>
                            15.6'' FHD 144HZ Ekran ESHELL Isletim sistemi<br>
                            
                        </span>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>


<script>function slideclick(elem){
    var imgdiv=document.getElementById("slides");
    var imgs=imgdiv.getElementsByTagName("img");
    var imgsrc=elem.getAttribute("src");
    document.getElementById("mainslide").setAttribute("src",imgsrc)
    var activeimg=imgdiv.getElementsByClassName("active")
    activeimg[0].setAttribute("class",activeimg[0].getAttribute("class").replace(" active",""));
  
    elem.className += " active";
  
  
  
      };
</script>  
{%endblock%}
