<div class="border-top py-0 ">
    <h2 class="accordion-header">
        <button class="accordion-button d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseller" aria-expanded="true" aria-controls="collapseseller">
        Satıcı Filtrele
        </button>
    </h2>
    <div id="collapseseller" class="accordion-collapse collapse show" data-bs-parent="#stickybar">
        <div class="accordion-body p-4 pt-2">
            <span class="fw-medium" style="font-weight:500 !important">Satıcı Filtrele</span>
            <div class="text-start mt-2 py-1 border border-1 rounded-1 scroll2" style="height:200px;">
                <ul class="list-group list-group-flush" >
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Rakun
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Boyleolur
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Denemesatici
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    pazaryeri
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Deneme satıcı 4
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Deneme satıcı 5
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Deneme satıcı 6
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Deneme satıcı 7
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Deneme satıcı 8
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>