<div class="border-top py-0 ">
    <h2 class="accordion-header">
        <button class="accordion-button d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecategory" aria-expanded="true" aria-controls="collapsecategory">
        Kategori Filtrele
        </button>
    </h2>
    <div id="collapsecategory" class="accordion-collapse collapse show" data-bs-parent="#stickybar">
        <div class="accordion-body p-4 pt-2">
            <span class="fw-medium" style="font-weight:500 !important">Kategori Filtrele</span>
            <div class="text-start mt-2 py-1 border border-1 rounded-1 scroll2" style="height:200px;">
                <ul class="list-group list-group-flush" >
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Bilgisayar
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Beyaz Eşya
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Telefon
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Beyaz Eşya
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Mutfak Aletleri
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Yazıcı/Projeksiyon
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Ses Sistemleri
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>